<p>Dear <%= name %>,</p>
<p>Your Genie Calculator OTP for verification is: <%= otp %>
</p>
<p>Use this code to complete the verification process. If you didn't request this, please contact us immediately.</p>
<p>Best regards,</p>
<p>Genie Calculator App Team</p>